.action_news {
  display: flex;
  gap: 20px;
}
.show-img {
  float: left;
  margin-bottom: 15px;
  margin-top: 28px;
  margin-left: -47px;
}
.img_label {
  float: left;
}
.table thead th {
  min-width: 130px;
}
.page-item {
  cursor: pointer;
}
