a.nav-link.active {
  color: #f28123 !important;
}
a.nav-link {
  white-space: nowrap;
  font-size: 1rem !important;
}
a.dropdown-item:hover {
  color: #f28123;
}
a.dropdown-item.active {
  color: #f28123;
  background-color: transparent;
}
a.change_language.active {
  color: #f28123;
}

.cart_count {
  background-color: #f28123;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  line-height: 12px;
  text-align: center;
  position: absolute;
  top: 28px;
  z-index: 1000;
  right: 218px;
}
#icon_cart {
  position: relative;
}
@media (1024px = width) {
  .cart_count {
    display: none;
  }
  .logo_mobile img {
    min-width: 20px !important;
  }
  .nav_mobile {
    padding-left: 0px !important;
  }
}
@media (1280px = width) {
  .cart_count {
    display: none;
  }
}
@media (max-width: 991px) {
  .cart_count {
    display: none;
  }
}
@media (max-width: 768px) {
  .cart_count {
    display: none;
  }
}
@media (max-width: 450px) {
  .cart_count {
    display: none;
  }
}
