@media (max-width: 991px) {
  .all_news_page {
    margin: auto;
    overflow-x: hidden;
  }
}
@media (max-width: 768px) {
  .all_news_page {
    margin: auto;
    overflow-x: hidden;
  }
}
@media (max-width: 450px) {
  .all_news_page {
    margin: auto;
    overflow-x: hidden;
  }
}
